/* PC  */
@media (min-width: 1024px) {
    
    #nav > li:hover > a {
        padding-bottom: 5px;
    }    
}

@media (min-width: 740px) and (max-width: 1023) {

}

@media (max-width: 739px) {
    
    #header {
        
    }

    #nav {
        width: 50vw;
        position: absolute;
        top: 46px;
        left: 100%;
        background-color: #000;
        /* transform: translateX(100%); */
        transition: all .3s ease;
    }

    #nav > li {
        display: block;
    }

    #nav .subnav a {
        padding: 0 36px;
    }

    #header .search-btn {
        float: left;
    }

    #header .menu-btn {
        float: right;
        display: block;
        line-height: 46px;
        padding: 0 24px;
        color: #fff;
        cursor: pointer;
        transition: .3s;
    }

    #header .menu-btn:hover {
        background-color: #ccc;
        color: #000;
    }

    .text-content {
        display: none;
    }

    /* Content Section  */
    #content .member-item {
        width: 100%;
    }

    #content .member-img {
        width: 60%;
        height: fit-content;
    }
    
    #content .place-item {
        width: 100%;
        margin-bottom: 16px;
    }

    .place-buy-btn {
        width: 100%;
    }

    #content .contact-info,
    #content .contact-form,
    #content .mobile-form {
        width: 100%;
    }

    .contact-form .form-submit-btn {
        width: 100%;
    }
}

@keyframes menuShow {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes menuHide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100%);
    }
}